*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.header{
    display: flex;
    justify-content:space-between;
    padding:  0 140px;
    border: 2px solid red;
    height: 56 px;
    border-bottom: 1px solid #f3f3f3;
}
.header img {
    width: 50;

}
.header-right{
    display: flex;
    gap: 32px;
}
.header-right a{
    text-decoration: none;
    color:#666;
    font-family: Arial;
    
}
.hero-section{
    text-align: center;
}

.hero-section img{
    width: 560px;
    margin: 52px 0;
}
.hero-section h1{
    margin-bottom: 20px;
    color: #424242;
}

.hero-section p{
    margin-bottom: 30px;


}
a{
    border-radius: 20px;
}